@import 'src/app/styles/colors';

.artwork {
  border-radius: 4px;
}

.details {
  display: flex;
}

.detailsRelease {
  flex: 1;
  margin-left: 1px;

  h3 {
    color: $secondary-bright;
    font-size: 1.5rem;
    margin-top: -4px;
  }

  h2 {
    color: $secondary-dark;
    font-size: 1rem;
    margin-top: -8px;
  }
}

.detailsMarket {
  color: $secondary-dark;
  font-size: 1.667rem;
  align-self: flex-start;
  margin-right: 2px;
  margin-top: -1px;

  svg {
    transition: color 250ms ease-in-out;
  }
}

.detailsMarketSpotify {
  margin-right: 7px;

  &:hover {
    color: $icon-spotify;
  }
}

.detailsMarketYoutube {
  margin-right: 4px;

  &:hover {
    color: $icon-youtube;
  }
}

.detailsMarketItunes {
  svg {
    padding-top: 1px;
    padding-right: 1px;
  }

  &:hover {
    color: $icon-itunes;
  }
}
