@import 'styles/colors';

.container {
  * {
    //line-height: 1.75;
    line-height: 1.6;
    letter-spacing: 0.00938rem;
  }

  h1 {
    color: $secondary-bright;
  }

  p {
    color: $secondary-dark;
  }
}